<form class="col-md-3" name="changePassword">
    <label>Current Password</label>
    <input ng-model="user.OldPassword" type="password" id="oldPassword" class="form-control" required/>
    </br>
    <label for="newPassword">New Password</label>
    <input ng-model="user.NewPassword" type="password" id='newPassword' class="form-control" required>
    </br>
    <label for="ConfirmPassword">RepeatedPassword</label>
    <input ng-model="user.ConfirmPassword" type="password" id="ConfirmPassword" class="form-control" required/>
    </br>
    <button class="btn btn-default" ng-disabled="changePassword.$invalid" ng-click="Change(user)">Change Password</button>
</form>