<div class="container">
    <div class="col-md-offset-2">
        <h1>Dashboard</h1>
        <table style="width: 100%">
            <thead>
            <tr>
                <td><b>Issue</b></td>
                <td><b>Project</b></td>
                <td><b>Due Date</b></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in issues |orderBy : '-DueDate'">
                <td>{{issue.Title}}</td>
                <td>{{issue.Project['Name']}}</td>
                <td>{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
    <div class="col-md-offset-2">
        <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>

    </div>
</div>
</div>
