<div class="container">

    <div class="col-md-offset-1">
        <h1>Dashboard</h1>
        <table style="width: 100%">
            <thead>
            <tr>
                <td><b>Issue</b></td>
                <td><b>Description</b></td>
                <td><b>Project</b></td>
                <td><b>Due Date</b></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in issues |orderBy : '-DueDate'">
                <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.Description}}</td>
                <td><a href="#/projects/{{issue.Project['Id']}}">{{issue.Project['Name']}}</a></td>
                <td>{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-offset-2">
            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>

        </div>
        <div ng-if="isAdmin" >
            <button class="btn btn-sm btn-success" ng-controller="ProjectsCtrl" ng-click="addNewProject()">Add New Project</button>
        </div>
    </div>

</div>
