
<div class="col-md-offset-4">
    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
</div>
<div class="col-md-offset-1">
    <table style="width: 100%">
        <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects">
            <td>
                <a ng-href="#/projects/{{project.Id}}" >{{project.Name}}</a>
            </td>
            <td>
                {{project.Description}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
</br>
<div ng-if="isAdmin" class="col-md-offset-3">
    <button class="btn btn-success" ng-click="addNewProject()">Add project</button>
</div>
</br>
</div>

