<div class="container">
<h2 style="margin-top: 0"> Edit Project</h2>
<div>
  <form style="width:48%" class="pull-left">
  <div class="form-group">
      <label for="projectName">Name</label>
      <input type="text" class="form-control" id="projectName" placeholder="Project Name" value="{{project.Name}}" ng-model="project.Name">
    </div>
    <div class="form-group">
      <label for="Leader">Leader</label>
      <select class="form-control" id="Leader" ng-model="project.Leader">
      	<option ng-repeat="user in users" >{{user.Username}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Project Key</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Project Key" value="{{project.ProjectKey}}" disabled  ng-model="project.ProjectKey">
    </div>
    <div class="form-group">
      <label for="Priorities">Priorities (comma separated)</label>
      <input type="text" class="form-control" id="Priorities" placeholder="Available Priorities For The Issues" ng-model="project.Priorities">
    </div>
     <div class="form-group">
      <label for="Labels">Labels (comma separated)</label>
      <input type="text" class="form-control" id="Labels" placeholder="Labels" ng-model="project.Labels">
      <br>
    </div>
     <div class="form-group">
      <label for="Description">Description</label>
      <textarea id="Description" class="form-control" placeholder="Description" ng-model="project.Description">{{project.Description}}</textarea>
    </div>
    <button type="submit" class="btn btn-success" ng-click="addOrEditProject(project,false)">Edit Project</button>
  </form>
  </div>
</div>