<div ng-if="isAdmin" class="col-md-offset-2">
    <button class="btn btn-default btn-success" ng-click="editProject()">Edit Project</button>
    <button class="btn btn-default btn-info" ng-click="addIssue()">Add issue</button>
</div>
<br>
<div class="col-md-offset-2">
        <table style="width: 80%">
            <thead>
            <tr>
                <td><b>Name</b></td>
                <td><b>ProjectKey</b></td>
                <td><b>Description</b></td>
                <td><b>Labels</b></td>
                <td><b>Priorities</b></td>
                <td>Project Leader</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{project.Name}}</td>
                <td>{{project.ProjectKey}}</td>
                <td>{{project.Description}}</td>
                <td>
                    <div ng-repeat="label in project.Labels">
                        {{label.Name}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="priority in project.Priorities">
                        {{priority.Name}}
                    </div>
                </td>
                <td>
                    {{project.Lead.Username}}
                </td>
            </tr>

            </tbody>
        </table>
</div>


